<li class="box_item">
	<a href="{{ project.url }}" class="box_image" style="background-image: url(/assets/images/web-projects/{{ project.image-preview }});">
	</a>
	<div class="box_content">
		<div class="boxText">
			<h2 class="box_title heading">
			  {{ project.title }}
			</h2>
			<div class="boxTools_list">
				{% for tool in project.tools %}
					<span class="boxTool_item">{{ tool }}</span>
				{% endfor %}
			</div>

			<p class="box_copy">
				{{ project.excerpt | remove: '<p>' | remove: '</p>' }}
			</p>
			<a href="{{ project.url }}" class="box_moreBtn">Read more</a>
		</div>
	</div></li><!-- <li class="boxMobile_content">
			<h2 class="box_title">
				{{ project.title }}
			</h2>
			<div class="boxTools_list">
				{% for tool in project.tools %}
					<span class="boxTool_item">{{ tool }}</span>
				{% endfor %}
			</div>
			<p class="box_copy">
				{{ project.excerpt | remove: '<p>' | remove: '</p>' }}
			</p>
			<a href="{{ project.url }}" class="box_moreBtn">Read more</a> -->
