<footer class="siteFooter">
    <div class="siteFooter_inner">

        <h2 class="siteFooter_heading">{{ site.title }}</h2>

        <div class="siteFooter_part-wrapper">
            <div class="siteFooter_part">
                <ul class="siteFooter_contactList">
                    <li>{{ site.title }}</li>
                    <li><a href="mailto:{{ site.author.email }}" class="link">{{ site.author.email }}</a></li>
                </ul>
            </div>

            <div class="siteFooter_part">
                <ul class="socialMedia_list">
                    <li>
                        <a href="https://github.com/FuruholmAnton" target="_blank" class="icon">
                        	{% include icons/icon-github.html %}
                        </a>
                        <a href="https://www.instagram.com/antonfuruholm/" target="_blank" class="icon">
                        	{% include icons/icon-instagram.html %}
                        </a>
                        <a href="https://www.linkedin.com/in/furuholm" target="_blank" class="icon">
                        	{% include icons/icon-linkedin.html %}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="siteFooter_part">
                <!-- <p class="text">{{ site.description }}</p> -->
            </div>
        </div>

    </div>
</footer>

