<footer class="siteFooter">
    <div class="siteFooter_inner">

        <h2 class="siteFooter_heading">{{ site.title }}</h2>

        <div class="siteFooter_part-wrapper">
            <div class="siteFooter_part">
                <ul class="siteFooter_contactList">
                    <li>{{ site.title }}</li>
                    <li><a href="mailto:{{ site.author.email }}" class="link">{{ site.author.email }}</a></li>
                </ul>
            </div>

            <div class="siteFooter_part">
                <ul class="socialMedia_list">
                    <li>
                        <a href="https://github.com/FuruholmAnton" target="_blank" class="icon">
                        	{% include icons/icon-github.html %}
                        </a>
                        <a href="https://www.instagram.com/antonfuruholm/" target="_blank" class="icon">
                        	{% include icons/icon-instagram.html %}
                        </a>
                        <a href="https://www.linkedin.com/in/furuholm" target="_blank" class="icon">
                        	{% include icons/icon-linkedin.html %}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="siteFooter_part">
                <!-- <p class="text">{{ site.description }}</p> -->
            </div>
        </div>

    </div>
</footer>

    <!-- JS -->
    <!-- inject:js -->
    <script src="/assets/javascript/main.js"></script>
    <!-- endinject -->
    <script src="/assets/vendors/turtleJS.js"></script>

  <script type="text/javascript">




    // Nice message for fellow developers
    console.log("%cHello, "+ "%cNice to meet ya!", "color: #2ecc71; font-size: 1.5rem; line-height: 2; display:block;", "color: #29B6F6; font-size: 1.3rem;");
    console.log("%cIf you have any opinions about my code or anything else go ahead and email me 🤗", "color: #009688; font-size: large; line-height: 2; display:block;");
    console.log("%canton.furuholm@gmail.com", "color: #03A9F4; font-size: 0.8rem; line-height: 2; display:block;");
  </script>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50142288-1', 'auto');
      ga('send', 'pageview');
    </script>

