<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">

    {% if site.url contains about %}
		<link rel="stylesheet" type="text/css" href="/assets/stylesheets/about.css">
	{% endif %}

  	<!-- Icons -->
  	<meta http-equiv="content-type" content="text/html; charset=utf-8">
  	<meta name="identifier-url" content="https://www.furuholm.se/" />
  	<meta name="title" content="Web Developer" />
  	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | 	truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  	<meta name="abstract" content="Swedish Web Developer" />
  	<meta name="keywords" content="Web, app, developer, code, design, javascript, html, css, front-end, 	frontend" />
  	<meta name="author" content="Anton Furuholm" />
  	<meta name="language" content="EN" />
  	<meta name="copyright" content="© 2016 Furuholm" />
  	<meta name="robots" content="All" />
  	<meta property="og:title" content="Web Developer">
  	<meta property="og:site_name" content="Furuholm.se">
  	<meta property="og:url" content="https://furuholm.se">
  	<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | 	strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  	<!-- <meta property="og:description" content="I'm a Swedish Web Developer. Currently working at Grand 	Public, a digital agency."> -->
  	<meta property="og:type" content="website">
  	<meta property="og:image" content="https://farm1.staticflickr.com/484/20265057079_b3da005864_z.jpg">
  	<meta name="twitter:card" content="photo">
  	<meta name="twitter:site" content="@AntonFuruholm">
  	<meta name="twitter:title" content="Web Developer">
  	<meta name="twitter:image:src" content="https://farm1.staticflickr.com/484/20265057079_b3da005864_z.jpg">

  	<!-- Favicons -->
  	<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png">
  	<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png">
  	<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png">
  	<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png">
  	<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png">
  	<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png">
  	<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png">
  	<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png">
  	<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png">
  	<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png" sizes="32x32">
  	<link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png" sizes="192x192">
  	<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png" sizes="96x96">
  	<link rel="icon" type="image/png" href="/favicons/favicon-16x16.png" sizes="16x16">
  	<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#009688">
  	<link rel="shortcut icon" href="/favicons/favicon.ico">
  	<meta name="msapplication-TileColor" content="#da532c">
  	<meta name="msapplication-TileImage" content="favicons/mstile-144x144.png">
  	<meta name="msapplication-config" content="favicons/browserconfig.xml">
  	<meta name="theme-color" content="#009688">
  	<link rel="manifest" href="/favicons/manifest.json">

  	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | 	truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: <site class="	"></site>url }}">

  	<!-- {% include noscript.html %} -->

	<!-- GOOGLE FONTS -->
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora|Satisfy&text=AntonFuruholm|Playfair+Display&text=+4673-0729279' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script:700&text=welcometo' rel='stylesheet' type='text/css'>

    <!-- CSS -->
  	<!-- inject:css -->

  	<link rel="stylesheet" href="/assets/stylesheets/style.css">

  	<!-- endinject -->

	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenLite.min.js"></script> -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/ScrollToPlugin.min.js"></script>

	<!-- <link rel="stylesheet" href="/assets/stylesheets/initial.css"> -->
	<!-- <link rel="stylesheet" href="/assets/stylesheets/style.css"> -->


  	<!-- RSS -->
  	{% feed_meta %}
</head>
