/*  POST
============================================================================ */
@charset "utf-8";
// Width
$xs: 400px;
$sm: 600px;
$md: 800px;
$lg: 1000px;
$xl: 1200px;

$sizes: (
    xs: $xs,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl
);

$gutter: 4px;

$spacing-unit:     30px;
// Width of the content area
$content-width:    1000px;


#postrender {
    display: auto;
}

/*  CONFIG
============================================================================ */
@import "1-config/variables",
        "1-config/helper",
        "1-config/mixins",
        "1-config/grid";

/*  UTILITY
============================================================================ */
@import "2-utility/ui-helpers";
@import "2-utility/ui-animation";


/* COMPONENET
============================================================================ */
@import "5-components/box";


/* PAGES
============================================================================ */
@import "6-pages/home";
@import "6-pages/about";
@import "6-pages/project";


