/* Base: Elements
============================================================================ */

html {
    font-family: $font-main;
    -webkit-font-smoothing: antialiased;

}
/**
 * Links
 */
a {
    text-decoration: none;
    color: #000;
}
.link {
    color: #283593;
    position: relative;
    z-index: 0;
    @include underline-from-center();

    &:visited {
        color: darken(#283593, 15%);
    }

    &:hover {
        color: lighten(#283593, 15%);


    }

}


body {
    background-color: #EDFBFA;

    // color: #fff;
}
