/* Component: Home
============================================================================ */
.home {
	overflow: hidden;
}

.home-intro {
	background-color: #fff;
	background-size: cover;
	// background-attachment: fixed;
	background-position: top center;
	color: #fff;
	text-shadow: 0 0px 1px rgba(0, 0, 0, 0.4);
	text-align: center;
	padding: 50% 0;
	position: relative;
	max-height: 100vh;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(#000, 0.2);
		@include fade-out(18s, 0);
	}

	@include media-query($sm) {
		padding: 28% 0;
	}

	@include media-query($xxl) {
		padding: 0;
		height: calc(100vh - 47px);
	}

	&__title {
		display: inline-block;
		vertical-align: text-top;
		font-size: 2rem;
		line-height: 2rem;
		height: 2rem;
		margin-top: 4px;
		margin-left: 0px;
		margin-right: 0px;
		font-weight: 900;
		text-transform: uppercase;
		color: #fff;
		transform: translateZ(0);

		@media screen and (min-width: $sm) {
			margin-top: -3px;
			font-size: 4rem;
			line-height: 4rem;
			height: 4rem;
			// font-size: 0.9rem;

		}

		@media screen and (min-width: $md) {
			// font-size: 1.2rem;
		}
	}
}

.home-intro__scale {
	// @include scale-up(80s);
}

.home-intro__text-welcome {
	@include fade-in-down(2s, 0.5s);
	color: #fff;
	font-family: 'Dancing Script', cursive;
	font-size: 1.2rem;
	display: block;

	@media screen and (min-width: $sm) {
		font-size: 2rem;
	}

}

.home-intro__title-fix {
	display: inline-block;
	font-weight: 300;
	font-size: 0.6rem;

	@media screen and (min-width: $sm) {
		font-size: 1rem;
	}
}

.home-intro__content {

	z-index: 2;
	position: absolute;
	top: 45%;
	left: 50%;
	width: 100%;
	text-align: center;
	-webkit-backface-visibility: hidden;
	transform: translate(-50%, -50%) translateZ(0) scale(1.1, 1.1);

	@media screen and (min-width: $md) {
		top: 50%;
	}

	@media screen and (min-width: $xl) {

	}
}

.home-intro__content-main {
	display: inline-block;
	border: {
		top: 1px solid #fff;
		bottom: 1px solid #fff;
	}
	padding: 0.3rem 0 0.5rem 0;

	@media screen and (min-width: $sm) {
		padding: 1rem 0 0.6rem 0;
	}
}

.home-intro__text {
	position: absolute;
	bottom: 20px;
	right: 20px;
	text-align: right;
	border-right: 1px solid #fff;
	padding-right: 0.5em;
	transform: translateZ(0);
	transform: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);

	font-size: 3vw;
	margin-top: 0;
	font-family: $font-main;
	text-transform: uppercase;
	line-height: 1.6;


	@media screen and (min-width: $sm) {
		font-size: 2.5vw;
	}

	// @media screen and (min-width: $md) {
	// 	font-size: 1.7rem;
	// }

	@media screen and (min-width: $lg) {
		font-size: 2vw;
	}

	@media screen and (min-width: $xxl) {
		font-size: 1.5vw;
		line-height: 1.8;
	}
}
.home-intro__arrow-down{
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -25px;
	width: 50px;
	cursor: pointer;
	transition: all .5s ease-in;
	border-radius: 70px;
	padding: 10px;
	z-index: 5;
	@include bounce(1s, 0.4s);

	@media screen and (min-width: $sm) {
		width: 70px;
	}

	&:hover {
		bottom: 10px;

	}
}



.home-section {
    background-color: $color-background;
    padding-bottom: 4em;
    position: relative;
}

.home-section__header {
     margin-bottom: 1em;
     text-align: center;
}

.home-heading {
    margin-bottom: 0;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 900;
    color: #555;

    @include media-query($sm) {
        padding-top: 1em;
        padding-bottom: 0.4em;
    };


    &__inner {
        padding: 30px 10px;
        color: #444;
        // background-color: #fff;
        position: relative;
    }
}
.heading__icon {
    width: 40px;
    display: inline-block;
    margin-right: 10px;
    margin-top: -4px;
}

.home-order {
	font-size: 2rem;
}
.home-number {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: $color-secondary;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5em;
    color: #fff;
    @include box-shadow;

    @include media-query($sm) {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 2em;
    };
}
