
.page-article {
	& + & {
		padding-top: 4rem;
	}
}

.page-heading {
	// padding-bottom: 1em;
	font-weight: 900;
	text-align: center;
	color: #555;
	text-transform: uppercase;
	font-size: 1.4rem;
}

.page-border {
	width: 60px;
	border-top: 1px solid #999;
	display: block;
	margin: 1rem auto;
}

.page-image {
	width: 400px;
	margin: 2.5rem auto;
}

.page-copy {
	padding-top: 1em;
	padding-bottom: 1em;
}

.sub-page {
	padding: 4em 1em;
}
