/*  CONFIG
============================================================================ */
@import "../1-config/variables";
@import "../1-config/helper";
@import "../1-config/mixins";
@import "../1-config/space";
@import "../1-config/grid";

/*  UTILITY
============================================================================ */
@import "../2-utility/ui-helpers";
@import "../2-utility/ui-animation";

/* PAGE: Project
============================================================================ */

.project {

	background-color: #fefefe;
}

.pageProject_header {
	width: 100%;
	height: 400px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(#000, 0.3);
	}

	@media (min-width: 500px) {
		height: 400px;
	}
}

.pageProject_title {
	font-size: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	color: #fff;
	@media (min-width: $sm) {
		font-size: 50px;
	}

}

.pageProject_text {
	margin-bottom: 1rem;
}

.pageProject_info {
	padding: 14px;

	h3 {
		color: #999;
	}
}

.pageProject_content {
	padding-top: 6rem;
}

.pageProject_toolItem {
	line-height: 1.6;
	font-weight: 300;
	padding: 0.1em 0em;
	color: #555;
	font-size: 0.8rem;
	margin-bottom: 4px;
	// padding-left: 2em;

	// @media screen and (max-width: $sm) {
		display: inline-block;
		border-left: 1px solid #ccc;
		padding: 0.3em 0.6em;
	// }

	a {

	}
}
