/* Component: Project
============================================================================ */

.project {

	background-color: #fefefe;

    &-header {
        width: 100%;
        height: 400px;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(#000, 0.3);
        }

        @media (min-width: 500px) {
            height: 400px;
        }
    }

    &-title {
        font-size: 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        color: #fff;
        @media (min-width: $sm) {
            font-size: 50px;
        }

    }

    &__text {
    	margin-bottom: 4em;

        &-inner {
            padding: 14px;
            min-height: 200px;
            margin-bottom: 10px;
            @media (min-width: $sm) {
                width: calc(100% - 20px);
                margin-bottom: 0;
            }
        }
    }

    &__info {
        padding: 14px;
        min-height: 200px;
        border-left: 1px solid #eee;
    }
}
