<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

{% include head.html %}

<body>

    {% include header.html %}

    <div class="page-content">

        {{ content }}

    </div>

    {% include footer.html %}

    <!-- CSS -->
    <!-- inject:css -->

    <link rel="stylesheet" href="/assets/stylesheets/style.css">

    <!-- endinject -->

    <!-- JS -->
    <!-- inject:js -->
    <script src="/assets/javascript/main.js"></script>
    <!-- endinject -->

    <link href='https://fonts.googleapis.com/css?family=Playfair+Display&text=+4673-0729279' rel='stylesheet' type='text/css'>
</body>

</html>

