<!DOCTYPE html>
<html coding-with-love="💚">

{% include head.html %}

<body class="body{% for class in page.classes %} {{class}}{% endfor %} no-js">

	<script type="text/javascript">
		var body = document.body;
		body.classList.add("has-js");
		body.classList.remove("no-js");
	</script>

    {% include header.html %}


    {{ content }}


    {% include footer.html %}





    <!-- JS -->
    <!-- inject:js -->
    <script src="/assets/javascript/main.js"></script>
    <!-- endinject -->
	<script type="text/javascript">
		window.addEventListener("load", function () {
			function func() {
			 	var elGalleryImage = document.querySelector(".homePhoto_gallery img");
			 	if(isInViewport(elGalleryImage)) {
					animateGalleryImage();
				}
				window.addEventListener("scroll", function(){
					var elGalleryImage = document.querySelector(".homePhoto_gallery img");

					if(isInViewport(elGalleryImage)) {
						animateGalleryImage();
					}

				});
			 };
			 turtle.init(func);
			 walnut.init();
		});
	</script>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      // ga('create', 'UA-50142288-2', 'auto');
      // ga('send', 'pageview');

    </script>

</body>
</html>

