---
layout: default
---
<article class="project" itemscope itemtype="http://schema.org/SoftwareApplication">
    <link itemprop="applicationCategory" href="http://schema.org/WebApplication"/>

    <!-- <header class="project-header" style="background-image: url({{ site.url }}/assets/images/{{ page.image-background }}); ">
        <h1 class="project-title" itemprop="name">{{ page.title }}</h1>
    </header> -->
    <div class="project-content wrapper py4">
        <div class="project__text col col-12 sm-col-8">
            <div class="project__text-inner">
                <h1 class="heading">{{ page.title }}</h1>
                {{ content }}
            </div>
        </div>
        <aside class="project__info col col-12 sm-col-4">
            {% if page.site_url %}
            <ul class="mb2">
                <h3 class="heading">Live site</h3>
                <a href="{{ page.site_url }}" target="_blank">{{ page.title }}</a>
            </ul>
            {% endif %}
            <ul class="aside-list">
                <h3 class="heading-bold">Tools</h3>
                {% for tool in page.tools %}
                    <li class="aside-item">{{ tool }}</li>
                {% endfor %}
            </ul>
        </aside>
        {% if page.images %}
        <!-- TODO: insert flickr grid -->
        <section class="gallery wrapper col col-12 ">
        	<!-- <figure class="gallery-main">
        		<img class="gallery-main__image" src="{{ site.url }}/assets/images/{{ page.image-main }}">
        	</figure> -->
        	<div class="gallery-list turtlejs" walnut>
        		{% for image in page.images %}
	                <!-- <div class="gallery-item" style="background-image: url({{ site.url }}/assets/images/{{ image }});"></div> -->
	                <img class="gallery-item" src="/assets/images/{{ image }}" alt="" walnut-image>
	            {% endfor %}
        	</div>
        </section>
        {% endif %}
    </div>
</article>

<script type="text/javascript">
	window.addEventListener("load", function () {
		 turtle.init();
	});
</script>
<script type="text/javascript" walnut-script src="/assets/vendors/walnut/walnut.js"></script>
