---
layout: default
---
<article class="project" itemscope itemtype="http://schema.org/SoftwareApplication">
    <link itemprop="applicationCategory" href="http://schema.org/WebApplication"/>

    <!-- <header class="project-header" style="background-image: url({{ site.url }}/assets/images/{{ page.image-background }}); ">
        <h1 class="pageProject_title" itemprop="name">{{ page.title }}</h1>
    </header> -->
    <div class="pageProject_content">

        <div class="pageProject_text wrapper-sm">
            <h1 class="heading">{{ page.title }}</h1>
            {{ content }}
        </div>

        <div class="pageProject_info wrapper-sm">
            {% if page.site_url or page.github_url %}
            <ul class="mb2">
                <h3 class="heading">See more</h3>
                {% if page.site_url %}
                <li>
                	<a href="{{ page.site_url }}" class="link" target="_blank">Live site</a>
                </li>
                {% endif %}

                {% if page.github_url %}
                <li>
                	<a href="{{ page.github_url }}" class="link" target="_blank">Github</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
            <ul class="pageProject_toolList">
                <h3 class="heading">Tools</h3>
                {% for tool in page.tools %}
                    <li class="pageProject_toolItem">{{ tool }}</li>
                {% endfor %}
            </ul>
        </div>

        {% if page.images %}
        <section class="gallery">
        	<div class="gallery-list turtlejs wrapper-sm" walnut>
        		{% for image in page.images %}
	                <img class="gallery-item" src="/assets/images/{{ image }}" alt="" walnut-image>
	            {% endfor %}
        	</div>
        </section>
        {% endif %}
    </div>
</article>

<script type="text/javascript">
	window.addEventListener("load", function () {
		 turtle.init();
		 walnut.init();
	});
</script>
<script type="text/javascript" walnut-script src="/assets/vendors/walnut/walnut.js"></script>
