/* Utility: UI helpers
============================================================================ */

.u-bold {
    font-weight: 500;
}

.u-uppercase {
    text-transform: uppercase;
}

.u-center{
	text-align: center;
}
