/* Utility: UI helpers
============================================================================ */

.u-bold {
    font-weight: 500;
}

.u-uppercase {
    text-transform: uppercase;
}

.u-center{
	text-align: center;
}

.u-color-red {
  color: $color-red;
}

.u-color-blue {
  color: $color-blue;
}

.u-color-green {
  color: $color-green;
}
