/* Component: Box
============================================================================ */
$box-image-width: 180px;

.box__item {
	overflow: hidden;
	position: relative;
	display: inline-block;
	background-color: #fff;
	transition: all .1s ease-in-out;
	vertical-align: top;
	@include col(2);

	&:nth-of-type(1n+3) {
		margin-top: 4px;
	}


	@include media-query($xs) {
		@include col(3);

		&:nth-of-type(1n+3) {
			margin-top: 0;
		}
		&:nth-of-type(1n+4) {
			margin-top: 4px;
		}
	};

	@include media-query($sm) {
		padding: 3em;
		border-bottom: 1px solid #eee;
		@include col(1);

		& + & {
			margin-top: 1em;
		}

		&:last-of-type {
			border-bottom: none;
		}
	};
}


.box__image {
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	float: left;
	align-self: center;
	cursor: pointer;
	@include aspect-ratio(1,1);

	@include media-query($sm) {
		width: $box-image-width;
	};
}

.box__container {
	// display: flex;
	// flex-wrap: wrap;
}

.box__content {
	padding: 0;
	float: left;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	color: #fff;
	z-index: 2;
	width: 100%;
	padding: 0.2em 0.5em;
	text-align: center;



	&::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(#000, 0.3);
		width: 100%;
		height: 100%;
		z-index: -1;
		pointer-events: none;
	}

	@include media-query($sm) {
		position: relative;
		color: #222;
		padding: 0 0 0 1em;
		width: calc(100% - #{$box-image-width});
		text-align: left;

		&::before {
			content: '';
			background-color: rgba(#000, 0);
		}
	};
}

.box__title {
	display: block;
	word-wrap: break-word;
	font-size: 1rem;
	font-weight: 300;

	@include media-query($sm) {
		margin-top: -4px;
		padding-top: 0;
		padding-bottom: 0.2em;
		font-size: 1.5rem;
	};
}

.box-tool {
	color: #999;
	font-size: 0.7rem;
	padding: 0.3em 0.6em;
	border-left: 1px solid #ccc;
}

.box-text {
	@include media-query($sm, $option:max) {
		@include position();
		width: 100%;
	}

}

.box__copy {
	// font-size: 1rem;
	padding-top: 0.5em;
	display: none;
	font-size: 1.1em;

	@include media-query($sm) {
		display: block;
	};
}

.box-readmore {

	font-size: 0.8em;

	@include media-query($sm, $option:max) {
		color: #fff;
		border: none;
		background: none;

		&:hover {
			background: none;
		}

		&:visited {
			color: #fff;
		}
	}

	@include media-query($sm) {
		color: #666;
		float: right;
		margin-top: 1.5em;
		font-size: 0.9em;

		&:hover {

		}

		@extend .button-round;

	}

	&__container {
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}
}

// .box__item--blog {
//     width: 100%;
//     height: auto;
//     padding: 20px 0;
//     margin: 0;
//     margin-bottom: 20px;
//     background-color: #fff;
// }

