/* Component: Box
============================================================================ */
$box-image-width: 180px;

.body-boxItem-open {
	overflow: hidden;
	&::after {
		content: '';
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(#000, 0.5);
		width: 100%;
		height: 100%;
		z-index: 11;
	}
}

.box_item {
	@extend %clearfix;

	@include media-query($sm, $option:max) {

		@for $i from 1 through 20 {
			&:nth-of-type(#{$i}) {
				z-index: #{$i};
				@if $i != 1 {
					margin-top: -100px;
				}
			}
		}
	}

	@include media-query($sm) {
		margin-top: 0;
		box-shadow: none;
		max-height: inherit;
		padding: 2.5rem 1rem;
		border-bottom: 1px solid #eee;
		@include col(1);

		& + & {
			margin-top: 1em;
		}

		&:last-of-type {
			border-bottom: none;
		}
	};

  @media (min-width: $md) {
    padding: 2.5rem 3rem;
  }
}

.boxPreview {
	text-align: left;
	padding: 10px;
	transform: scale(1);

	overflow: hidden;
	position: relative;
	display: inline-block;
	background-color: #fff;
	transition: all 0.5s ease-in-out;
	vertical-align: top;
	width: 100%;
	height: 200px;
	margin: 0;
	max-height: 200px;
	box-shadow: 0 2px 16px rgba(#000, 0.3);
	color: #fff;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(#000, 0.5);
		width: 100%;
		height: 100%;
		z-index: -1;
		pointer-events: none;
	}

	@include media-query($sm, $option:max) {

		&:hover {
			transform: translateY(-5%);
		}
	}

	@include media-query($sm) {
		display: none;
	}

	.box_item--open & {
		// transform: scale(0);
	}
}
.boxPreview_image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	filter: blur(1px);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

.boxFull {
	transform: scale(0);
	transition: all 0.5s ease-in-out;
	will-change: transform;
	position: fixed;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 12;

	&::-webkit-scrollbar {
	    display: none;
	}

	.box_item--open & {
		pointer-events: auto;
		transform: scale(1);
	}

	@include media-query($sm, $option:max) {
		overflow: scroll;
		pointer-events: none;
	}

	@include media-query($sm) {
		position: relative;
		transform: scale(1);
		z-index: 4;
	}
}
.boxFull_inner {
	background-color: #fff;

	@include media-query($sm, $option:max) {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 95%;
		z-index: 12;
		transform: translate(-50%,-50%);

		.boxFull-stickToTop & {
			top: 10px;
			transform: translateX(-50%);
		}
	}

	@include media-query($sm) {
		position: relative;

	}
}

.boxMobile_content {
	display: none;
	@media screen and (max-width: 600px) {
		display: none;
		float: left;
		width: 100%;
		padding: 1rem;

		.box_item--open + & {
			display: block;
		}
	}
}



.box_image {
	overflow: hidden;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	// float: left;
	align-self: center;
	cursor: pointer;
	@include aspect-ratio(1,1);

	@media (min-width: 360px) {
		@include aspect-ratio(16,9);
	}

	@include media-query($sm) {
		width: $box-image-width;
		float: left;
		@include aspect-ratio(1,1);
	}
}
.boxImage_closeButton {
	width: 15px;
	position: absolute;
	top: 10px;
	right: 10px;
	filter: drop-shadow(0px 0px 2px rgba(0,0,0,.5));

	path {
		box-shadow: 0 1px 2px rgba(#000, 0.4);
	}

	@include media-query($sm) {
		display: none;
	}
}

.box_container {
	margin: {
		left: auto;
		right: auto;
	}
	max-width: $md
}

.box_content {
	color: #222;
	z-index: 2;
	width: 100%;
	padding: 0.6em 1rem 1.5rem;
	text-align: left;
	transition: all 1s ease-in-out;
	will-change: opacity transform;

	.box_item--open & {
		opacity: 1;
		transform: translate(0);
	}

	@include media-query($sm, $option:max) {
		// opacity: 0;
		// transform: translateY(80%);
	}

	@include media-query($sm) {
		position: relative;
		color: #222;
		padding: 0 0 0 1em;
		width: calc(100% - #{$box-image-width});
		text-align: left;
		float: left;
		opacity: 1;
		padding: 0 1rem 0.6em;

		&::before {
			content: '';
			background-color: rgba(#000, 0);
		}
	}
}

.box_title {
	display: block;
	word-wrap: break-word;
	font-size: 1.5rem;
	font-weight: 300;
	padding-bottom: 6px;

	@include media-query($sm) {
		margin-top: -4px;
		padding-top: 0;
		padding-bottom: 0.2em;
		font-size: 1.5rem;
	};
}

.boxTools_list {
	@extend %clearfix;
}

.boxTool_item {
	color: #bbb;
	font-size: 0.7rem;
	padding: 0.3em 0.6em;
	border-left: 1px solid #bbb;
	float: left;

	@include media-query($sm) {
		color: #999;
		font-size: 0.7rem;
		padding: 0.3em 0.6em;
		border-left: 1px solid #888;
	}
}

.boxText {

}

.box_copy {
	padding-top: 0.5em;
	font-size: 1.1em;

	@include media-query($sm) {
		transform: scale(1);
	};
}

.box_moreBtn {
	@extend .button-round;
	font-size: 0.8em;
	color: #666;
	margin-top: 1.5em;
	border-color: #666;

	@include media-query($sm) {
		font-size: 0.9em;
		float: right;
		display: inline-block;
		color: #666;

		&:hover {

		}
	}
}

.box_moreBtn_container {
	display: none;
	display: flex;
	justify-content: flex-end;
	width: 100%;

}


