/* Component: Footer
============================================================================ */

.site-footer {
    background-color: #fff;
    // background-image: url(/assets/images/grey_wall.png);
}

.site-footer__col-wrapper {
    font-size: 15px;
    color: #aaa;
    @extend %clearfix;
}

.site-footer__col {
    float: left;
}
