
/* Component: Footer
============================================================================ */

.siteFooter {
	background-color: #fff;
	border-top: 2px solid #ccc;
	width: 100%;

	a {
		color: #666;
	}
}

.siteFooter_inner {
	@extend .wrapper;
}

.siteFooter_part-wrapper {
	font-size: 15px;
	color: #aaa;
	padding: 1em 0;
	@extend %clearfix;
}

.siteFooter_part {

	@include col(1);
	text-align: center;
	padding: 0.5rem 0;

	@include media-query($sm) {
		@include col(3);
		float: left;
		text-align: left;

		&:nth-of-type(3) {
			text-align: right;
		}
	}

	&:nth-of-type(2) {
		text-align: center;
	}

}


.footer-heading {
	font-size: 18px;
}

.siteFooter_contactList,
.socialMedia_list {
	list-style: none;
	margin-left: 0;
}

.socialMedia_list {
	a {
		padding: 2px;
		display: inline-block;

		@media screen and (min-width: $sm) {
			padding: 0;
		}
	}
}
