.gallery {
	margin-top: 2rem;
	background-color: #f4f4f4;
	padding: 2rem;
}

.gallery-main {
	background-color: #efefef;
	padding: 10px;
	margin: 0;

	text-align: center;
	position: relative;
}

.gallery-main__image {
	// @include position();
	display: inline-block;
	object-fit: contain;
	max-height: 500px;

}

.gallery-list {

}

.gallery-item {
	display: inline-block;
	height: 200px;
}
