/* Component: Header
============================================================================ */

.siteHeader {
	// background-color: #fff;
	// box-shadow: 0 1px 2px rgba(#000, 0.2);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9;
}

.siteHeader_inner {

}

.siteLogo {
	height: 50px;
	padding: 5px;
	display: block;
	float: left;

	@include media-query($sm) {

	}
}

.siteLogo_src {
	display: inline-block;
	height: 100%;
	// margin: 10px 0;
}
