/* Component: Header
============================================================================ */

.site-header {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(#000, 0.2);
}

.site-header__inner {

}

.site-logo {
    height: 50px;
    padding: 5px;
    display: block;
    float: left;

    @include media-query($sm) {

    }
}

.site-logo__src {
    display: inline-block;
    height: 100%;
    // margin: 10px 0;
}
