/* Component: Navigation
============================================================================ */

$nav-height: 150px;
$nav-small: 60px;

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation menu
    position: relative;
}

.site-nav {
    display: none;

    @include media-query($sm) {
        display: block;
        float: right;
    }
}

.site-nav-mobile {
    display: block;

    @include media-query($sm) {
        display: none;
    }
}

.site-nav__list {
    clear: both;
    display: none;
    display: block;
    width: 100%;

    &:target {
        display: block;
    }
}

.site-nav__item {
    text-transform: uppercase;
    padding: 1em 0.5em;
    display: block;

    @include media-query($sm, $option: max) {
        width: 100%;
        display: block;
        border-bottom: 1px solid #eee;
        @include underline-from-left();
    }

    @include media-query($sm) {
        @extend .underline-from-center;
        display: inline-block;
    }
}

.site-nav__menu {
    // display: block;
    // padding: 6px;
    // @extend %clearfix;

    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding: 10px;
    text-align: center;

    > svg {
        width: 18px;
        height: 15px;

        path {
            fill: $grey-color-dark;
        }
    }

    @include media-query($sm) {
        display: none;
    }
}
