/* Component: Start Screen
============================================================================ */

.startscreen {
    @include fade-out(2s, 4s);
    @include hacks();
    pointer-events: none;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999999;


    &-content {
        @include position();
        text-align: center;
    }
}

.startscreen-heading--main {
	@include fade-in(1s, 0.5s);
	font-size: 6em;
	max-width: 300px;
}

.startscreen-heading--sub {
	@include fade-in(2s, 1.5s);
	line-height: 1.7;
}
