<section class="homeAbout">
	<i class="anchor" id="about"></i>
	<div class="homeAbout_part homeAbout_part-text">
		<div class="homeAbout_content">
			<h2 class="heading">Hello!</h2>
			<p>My name is Anton Furuholm and I'm the creator of furuholm.com. As you might expect I make my living as a web developer. For now, I work at a great agency <a href="//grandpublic.se" target="_blanck" class="link">Grand Public</a>, but I'm soon heading out on a big adventure crossing the US of A on a bicycle. </p>

        	<p>By the way, I'm from a lovely country called Sweden. Living deep in the green woods in a small town called Eksjö known for its old wooden buildings.</p>
			<a href="/about" class="homeAbout_link button-round">Read more</a>
		</div>
	</div>
	<div class="homeAbout_part homeAbout_part-image" style="background-image: url({{ page.aboutImage }})">
	</div>
</section>
