<section class="home-about">
	<div class="anchor" id="about"></div>
	<div class="home-about__part home-about__part--text">
		<div class="home-about__content">
			<h2 class="heading">Hello!</h2>
			<p>I'm one of those awesome web developer people. I love sitting down in front of my MacBook writing beautiful lines of code, with a coffee cup not far away.
			</p>
			<p>By the way I from Sweden and I'm currently at a agency called <a href="//grandpublic.se" target="_blanck" class="link">Grand Public</a>. Before that I studied web development and graphic design for 2 years and just web development for one semester in the capital of Australia as an exchange student.
			</p>
			<a href="/about" class="home-about__link button-round">Read more</a>
		</div>
	</div>
	<div class="home-about__part home-about__part--image" style="background-image: url({{ page.aboutImage }})">
	</div>
</section>
