<section class="home-blog homeSection">
	<i class="anchor" id="blog"></i>

	<div class="homeSection_inner">
		<div class="homeSection_header">
			<h2 class="home_heading heading">
				Blog
			</h2>
			<p>My most recent posts about the web.</p>
			<p class="homeSection__border"></p>
		</div>
		<div class="homeBlog__content">
			{% assign posts = site.posts | sort='date, title' %}
			{% for post in posts reversed %}
			<div class="box_item--inner box_item--blog mb3">
				<h3 class="heading">{{ post.title }}</h3>
				<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

				{{ post.excerpt }}
			</div>
			{% endfor %}
			<a href="#" class="button-round">Read more</a>
		</div>
	</div>
</section>
