<section class="columns">
        <div class="columns_container">

              <header class="sectionHeader">
                <span class="sectionHeader_line"></span>
                <h2 class="sectionHeader_heading u-color-green">
                  Blog
                </h2>
                <p class="sectionHeader_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sunt, asperiores, porro nisi ipsum quae.</p>
              </header>

            <div class="columns_part">
                <header class="columns_header">
                    <img src="/assets/images/tech/html.svg" class="columns_image">
                    <h2 class="columns_title">Web</h2>
                </header>
                <ul class="columns_list">

                    <li class="columns_item">
                        <h4 class="columns_heading">Rubrik</h4>
                        <div class="columns_excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt non quas, accusantium aliquid. Beatae consequuntur pariatur eveniet, nesciunt amet nulla natus.
                        </div>
                    </li>

                    <li class="columns_item">
                        <h4 class="columns_heading">Rubrik</h4>
                        <div class="columns_excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt non quas, accusantium aliquid. Beatae consequuntur pariatur eveniet, nesciunt amet nulla natus.
                        </div>
                    </li>

                </ul>
            </div>

            <div class="columns_part">
                <header class="columns_header">
                    <img src="/assets/images/tech/git.svg" class="columns_image">
                    <h2 class="columns_title">Health</h2>
                </header>
                <ul class="columns_list">

                    <li class="columns_item">
                        <h4 class="columns_heading">Rubrik</h4>
                        <div class="columns_excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt non quas, accusantium aliquid. Beatae consequuntur pariatur eveniet, nesciunt amet nulla natus.
                        </div>
                    </li>

                    <li class="columns_item">
                        <h4 class="columns_heading">Rubrik</h4>
                        <div class="columns_excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt non quas, accusantium aliquid. Beatae consequuntur pariatur eveniet, nesciunt amet nulla natus.
                        </div>
                    </li>

                </ul>
            </div>

            <div class="columns_part">
                <header class="columns_header">
                    <img src="/assets/images/tech/css3.svg" class="columns_image">
                    <h2 class="columns_title">My life</h2>
                </header>
                <ul class="columns_list">

                    <li class="columns_item">
                        <h4 class="columns_heading">Rubrik</h4>
                        <div class="columns_excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt non quas, accusantium aliquid. Beatae consequuntur pariatur eveniet, nesciunt amet nulla natus.
                        </div>
                    </li>

                    <li class="columns_item">
                        <h4 class="columns_heading">Rubrik</h4>
                        <div class="columns_excerpt">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt non quas, accusantium aliquid. Beatae consequuntur pariatur eveniet, nesciunt amet nulla natus.
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section>
