<section class="homePhoto homeSection">
	<i class="anchor" id="photoAnchor"></i>

  <header class="sectionHeader">
    <span class="sectionHeader_line"></span>
    <h2 class="sectionHeader_heading">
      Photography
    </h2>
    <p class="sectionHeader_text">Photography has been a big interest since I was young. but it was not until I undertook a course on photography at my university that I realized my passion for it.</p>
  </header>

	<ul class="homePhoto_gallery turtlejs" walnut>
		{% assign photos = site.data.photos %}
		{% for photo in photos %}
			<img walnut-image src="/assets/images/portfolio/{{ photo.url }}" alt="" data-title="{{ photo.title }}">
		{% endfor %}
	</ul>
	<a href="https://www.flickr.com/photos/furuholm-photography/" class="homeSection_moreBtn" target="_blank">See more at Flickr.com</a>

</section>
