<section class="homePhoto homeSection">
	<i class="anchor" id="photoAnchor"></i>

	<header class="homeSection_header">
		<h2 class="homeHeading heading">
			Photography
		</h2>
		<p>I loved photography since I was young. But was not until a few years ago I started learning about the camera and started using a DSLR.</p>
		<p class="homeSection_border"></p>
	</header>

	<ul class="homePhoto_gallery turtlejs" walnut>
		{% assign photos = site.data.photos %}
		{% for photo in photos %}
			<img walnut-image src="/assets/images/portfolio/{{ photo.url }}" alt="" data-title="{{ photo.title }}">
		{% endfor %}
	</ul>
	<a href="https://www.flickr.com/photos/furuholm-photography/" class="homeSection_moreBtn" target="_blank">See more at Flickr.com</a>

</section>
