<section class="homeSection">
	<i class="anchor" id="web"></i>

	<header class="sectionHeader">
    <span class="sectionHeader_line"></span>
		<h2 class="sectionHeader_heading ">
			Web Projects
		</h2>
		<p class="sectionHeader_text">I love to build my own plug-ins, libraries or just small snippets to get a deeper understanding of what's under the hood.</p>
	</header>

	<ul class="box_container">
		{% assign projects = site.web_projects %}
		{% for project in projects reversed %}
			{% if project.featured == true  %}
				{% include box.html %}
			{% endif %}
		{% endfor %}
	</ul>

	<a href="/web" class="homeSection_moreBtn">See more</a>
</section>
