// Fonts
$font-copy: 'Lora', Cambria, Georgia, "Times New Roman", Times,serif;
$font-main: 'Roboto', Arial, Helvetica, sans-serif;
$font-heading: '';

// Colors
$color-main: #ffb106; // #fdb70a;
$color-main-dark: darken($color-main, 10%);
$color-main-light: lighten($color-main, 10%);

$color-secondary: #FFC107;

$color-link: #283593;
$color-link-visited: lighten(#283593, 15%);
$color-link-hover: darken(#283593, 15%);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$text-color:       #222;
$color-text:       #444;
$background-color: #fdfdfd;
// $color-background: #f6f6f6;
$color-background: #fff;

$base-line-height: 1.5;

// Animation
$ease-in: all .4s ease-in-out;

$shadow: 0 1px 2px rgba(#000, 0.2);
$shadow-md: 0 2px 4px rgba(#000, 0.2);


$xs: 400px;
$sm: 600px;
$md: 800px;
$lg: 1000px;
$xl: 1200px;

$sizes: (
    xs: $xs,
    sm: $sm,
    md: $md,
    lg: $lg,
    xl: $xl
);


$gutter: 3px;

$spacing-unit:     15px;
$content-width:    1000px;


