---
title: Home
layout: default
regenerate: true
aboutImage: /assets/images/profile.jpg
classes: page-home
---

<div class="startscreen">
	<div class="startscreen-content">
		<h2 class="startscreen-heading startscreen-heading--main">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve" style="width: 300px">
			<g>
				<polygon points="19.985,26.606 19.985,0.033 19.839,-0.009 8.384,39.984 16.155,39.984 	"/>
				<polygon points="21.092,-0.009 20.944,0.033 20.944,26.606 24.776,39.984 32.547,39.984 	"/>
				<polygon points="17.922,37.945 17.331,40.009 23.647,40.009 23.058,37.945 	"/>
			</g>
			</svg>
		</h2>
		<h3 class="startscreen-heading startscreen-heading--sub">
			Web developer<br>
			Photographer<br>
			Fitness Enthusiast
		</h3>
	</div>
</div>
<script type="text/javascript">
	(function check_if_user_has_visited_before() {

		var start = document.querySelector('.startscreen');
		if (start instanceof HTMLElement) {
			if (typeof(Storage) !== 'undefined') {
			    if (!localStorage.hasVisitedBefore) {
			    	localStorage.hasVisitedBefore = true;
			    	start.style.display = 'block';
			    }
			}
		}
	})();
</script>

<div class="home">

	<section class="home-intro" style="background-image: url(/assets/images/hobbit_house.jpg);">
		<div class="home-intro__content">
			<div class="home-intro__scale">
				<p class="home-intro__text-welcome">Welcome</p>
				<div class="home-intro__content-main">
					<span class="home-intro__title-fix">TO</span>
					<h1 class="home-intro__title">Furuholm</h1>
					<span class="home-intro__title-fix">.COM</span>
				</div>
			</div>
		</div>
		<h2 class="home-intro__text"><strong>Web</strong>Developer<br>
		Photo<strong>grapher</strong><br>
		<strong>Fitness</strong>Enthusiast</h2>
		<a href="#sandbox" class="home-intro__arrow-down anchor-link">
			<svg viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.4">
				<path fill="#fff" d="M400.7 623L49 308l16-17.8 335.7 300.3L742 285l16 18-357.3 320z"/>
			</svg>
		</a>
	</section>

	<div style="height: 47px">
		<nav class="sub-nav">
			<ul class="wrapper wrapper-no-padding">
				<li class="sub-nav__item"><a class="anchor-link" href="#web">Web Projects</a>
				<li class="sub-nav__item"><a class="anchor-link" href="#photography">Photography</a>
				<!-- <li class="sub-nav__item"><a href="#blog">Recent Blog Posts</a> -->
				<li class="sub-nav__item"><a class="anchor-link" href="#about">Short About Me</a>
			</ul>
		</nav>
	</div>

	{% include modules/web-projects.html %}

	<div class="home-background">
		<h3>I love the way programming challenges my mind.</h3>
	</div>

	{% include modules/photography.html %}

	<div class="home-background">
		<h3>Photography has helped me see the world in more detail.</h3>
	</div>

	<div id="">

		<!-- {% if site.posts %}
			{% include modules/blog.html %}
		{% endif %} -->

		{% include modules/about.html %}

		<h2 class="home-phone"><a href="tel:+4673-072 92 79">+46 730 72 92 79</a></h2>
	</div>
</div>

<script type="text/javascript" src="/assets/vendors/walnut/walnut.js" walnut-script></script>
