---
layout: default
regenerate: true
aboutImage: /assets/images/profile.jpg
classes: page-home
---

<div class="startscreen">
	<div class="startscreen-content">
		<h2 class="startscreen-heading startscreen-heading--main">Anton Furuholm</h2>
		<h3 class="startscreen-heading startscreen-heading--sub">
			Web developer<br>
			Photographer<br>
			Fitness Enthusiast
		</h3>
	</div>
</div>

<div class="home">



	<section class="home-intro" style="background-image: url(/assets/images/background-1.jpg);">
		<div class="home-intro__content">
			<h1 class="home-intro__title heading">Anton Furuholm</h1>
			<h2 class="home-intro__text">Web Developer<br>
			Photographer<br>
			Fitness Enthusiast</h2>
		</div>
		<a href="#sandbox" class="home-intro__arrow-down anchor-link">
			<svg viewBox="0 0 800 800" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.4">
				<path fill="#fff" d="M400.7 623L49 308l16-17.8 335.7 300.3L742 285l16 18-357.3 320z"/>
			</svg>
		</a>
	</section>

	<div style="height: 47px">
		<nav class="sub-nav">
			<ul class="wrapper wrapper-no-padding">
				<li class="sub-nav__item"><a class="anchor-link" href="#sandbox">Current projects</a>
				<li class="sub-nav__item"><a class="anchor-link" href="#liveProjects">Live Project</a>
				<!-- <li class="sub-nav__item"><a href="#blog">Recent Blog Posts</a> -->
				<li class="sub-nav__item"><a class="anchor-link" href="#about">Short About Me</a>
			</ul>
		</nav>
	</div>

	<section class="home-sandbox home-section pb4">
		<div class="anchor" id="sandbox"></div>

		<header class="home-section__header">
			<div class="wrapper-md home-heading__inner">

				<h2 class="home-heading heading">
					Current web Projects
				</h2>
				<p>These are web projects I'm working on.</p>
				<p class="home-section__border"></p>
			</div>
		</header>

		<div class="wrapper-md">

			<ul class="box__container mxn2">
				{% assign projects = site.web-current | sort='date, title' %}
				{% for project in projects reversed %}
					{% include box.html %}
				{% endfor %}
			</ul>
		</div>
	</section>

	<div class="home-background"></div>

	<div id="postRender">
		<section class="home-live home-section">
			<div class="anchor" id="liveProjects"></div>
			<div class="wrapper-md ">
				<div class="home-section__header">
					<div class="home-heading__inner">
						<h2 class="home-heading heading">
							Live web Project
						</h2>
						<p>These are projects I have delivered or are ready for public use.</p>
						<p class="home-section__border"></p>
					</div>
				</div>

				<ul class="box__container">
					{% assign projects = site.web-live | sort='date, title' %}
					{% for project in projects reversed %}
						{% include box.html %}
					{% endfor %}
				</ul>
			</div>
		</section>

		<div class="home-background"></div>

		<!-- {% if site.posts %}
		<section class="home-blog home-section">
			<div class="anchor" id="blog"></div>
			<div class="wrapper-md">
				<div class="home-section__header">
					<div class="wrapper-md home-heading__inner">
						<h2 class="home-heading heading">
							Blog
						</h2>
						<p>My most recent posts about the web.</p>
						<p class="home-section__border"></p>
					</div>
				</div>
				<div class="home-blog__content">
					{% assign posts = site.posts | sort='date, title' %}
					{% for post in posts reversed %}
					<div class="box__item--inner box__item--blog mb3">
						<h3 class="heading">{{ post.title }}</h3>
						<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

						{{ post.excerpt }}
					</div>
					{% endfor %}
					<a href="#" class="button-round">Read more</a>
				</div>
			</div>
		</section>
		{% endif %} -->

		<section class="home-about">
			<div class="anchor" id="about"></div>
			<div class="home-about__part home-about__part--text">
				<div class="home-about__content">
					<h2 class="heading">Hello!</h2>
					<p>I'm a Swedish front-end web developer. My main areas of expertise are JavaScript, PHP and CSS.
					</p>
					<p>
					I studied web development and graphic design for 2 years in Sweden and exclusively web development for one semester in Canberra, Australia. <br>
					I'm currently working at a agency called <a href="//grandpublic.se" target="_blanck" class="link">Grand Public</a>
					</p>
					<p></p>
					<a href="/about" class="home-about__link button-round">Read more</a>
				</div>
			</div>
			<div class="home-about__part home-about__part--image" style="background-image: url(/}{{ page.aboutImage }})">
			</div>
		</section>

		<h2 class="home-phone"><a href="tel:+4673-072 92 79">+46 730 72 92 79</a></h2>
	</div>
</div>
