
/**
 * If you want 5 colums to fit then write 5.
 *
 * @param  {[number]}
 * @return {[procent]}
 * ex. width: col(5);
 */
// @function col($size) {

//     @return 100%/#{$size};
// }
@function col($piece, $pie:false) {

    @if type-of($piece) == 'number' and $pie == false {
        @return 100%/$piece;

    } @else if type-of($piece) == 'number' and type-of($pie) == 'number' {

        @return $piece/$pie * 100%;
    }
}


%gutter {
    margin: {
        right: $gutter;
        left: $gutter;
        bottom: $gutter*2;
    }
}
.col {
  float: left;
  box-sizing: border-box;
}

.col-right {
  float: right;
  box-sizing: border-box;
}

.col-container {
    margin: {
        right: -$gutter;
        left: -$gutter;
    }
}

// @for $i from 1 through 6 {
//     .col-#{$i} {
//         @extend %gutter;
//         &:last-of-type {
//             margin-bottom: 0px;
//         }
//         width: calc((100%/#{$i}) - (#{$gutter} * 2));
//     }
// }
// @each $name, $size in $sizes {

//     @media (min-width: $size) {
//         .#{$name}-col {
//           float: left;
//           box-sizing: border-box;
//         }

//         .#{$name}-col-right {
//           float: right;
//           box-sizing: border-box;
//         }

//         @for $i from 1 through 6 {
//             .#{$name}-col-#{$i} {
//                 &:nth-last-child(-n+#{$i}) {
//                     margin-bottom: 0px;
//                 }
//                 @extend %gutter;
//                 width: calc((100%/#{$i}) - (#{$gutter} * 2));
//             }
//         }
//     }
// }

// OLD WAY - under consideration

.col {
  float: left;
  box-sizing: border-box;
}

.col-right {
  float: right;
  box-sizing: border-box;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        @extend %gutter;
        &:last-of-type {
            margin-bottom: 0px;
        }
        width: calc((#{$i}/12 * 100%) - (#{$gutter} * 2));
    }
}
// Creates colums for every size and width
@each $name, $size in $sizes {

    @media (min-width: $size) {
        .#{$name}-col {
          float: left;
          box-sizing: border-box;
        }

        .#{$name}-col-right {
          float: right;
          box-sizing: border-box;
        }

        @for $i from 1 through 12 {
            .#{$name}-col-#{$i} {
                @extend %gutter;
                &:last-of-type {
                    margin-bottom: 0px;
                }
                width: calc((#{$i}/12 * 100%) - (#{$gutter} * 2));
            }
        }
    }
}

