/* Base: Elements
============================================================================ */

html {
    font-family: $font-main;
    -webkit-font-smoothing: antialiased;

}
body {
    // color: #fff;
    background-color: #fff;
    // background: linear-gradient(to bottom right, #ffffff, #eeeeee);
}


.anchor {
    position: absolute;
    top: -100px;
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


.post-meta {
    font-size: 0.8em;
}
.message {
    @extend .heading;
}


