/* Base: Elements
============================================================================ */

html {
    font-family: $font-main;
    -webkit-font-smoothing: antialiased;

}
body {
    // color: #fff;
    background-color: #fff;
    // background: linear-gradient(to bottom right, #ffffff, #eeeeee);
}
/**
 * Links
 */
a {
    text-decoration: none;
    color: #000;
}

.link {
    color: $color-link;
    position: relative;
    z-index: 0;
    @include underline-from-center();

    &:visited {
        color: darken(#283593, 15%);
    }

    &:hover {
        color: lighten(#283593, 15%);


    }

}


h1,
h2,
h3,
h4,
h5,
h6 {
    text-rendering: optimizeLegibility;
    margin: 0;
    font-family: $font-main;
    font-weight: 400;
}


p {
    margin: 0;
    line-height: 1.5;
    font-size: 1rem;
    color: $color-text;
    font-family: $font-body;

    & + & {
        margin-bottom: 1em;
    }
}



